:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 132 120 173;
  --oui-color-primary-light: 173 162 208;
  --oui-color-primary-darken: 91 84 141;

  --oui-color-link: 140 128 163;
  --oui-color-link-light: 173 155 193;

  --oui-color-secondary: 200 195 210;
  --oui-color-tertiary: 190 185 200;
  --oui-color-quaternary: 190 185 200;

  --oui-color-danger: 193 88 131;
  --oui-color-danger-light: 234 143 163;
  --oui-color-danger-darken: 163 71 111;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 88 255 208;
  --oui-color-success-darken: 0 198 129;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 242 225 93;
  --oui-color-warning-darken: 221 191 29;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 48 45 57;
  --oui-color-fill-active: 52 51 65;

  --oui-color-base-1: 93 83 123;
  --oui-color-base-2: 84 74 114;
  --oui-color-base-3: 76 66 105;
  --oui-color-base-4: 68 58 96;
  --oui-color-base-5: 61 53 87;
  --oui-color-base-6: 54 47 79;
  --oui-color-base-7: 51 46 66;
  --oui-color-base-8: 44 40 59;
  --oui-color-base-9: 37 34 52;
  --oui-color-base-10: 14 13 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 91 84 141;
  --oui-gradient-primary-end: 132 120 173;

  --oui-gradient-secondary-start: 84 74 114;
  --oui-gradient-secondary-end: 128 112 164;

  --oui-gradient-success-start: 0 198 129;
  --oui-gradient-success-end: 41 233 169;

  --oui-gradient-danger-start: 163 71 111;
  --oui-gradient-danger-end: 193 88 131;

  --oui-gradient-brand-start: 200 184 220;
  --oui-gradient-brand-end: 132 120 173;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 221 191 29;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 25 31;
  --oui-gradient-neutral-end: 38 35 43;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}